.git
.github
.vs
.vscode
bin
obj
PostgresMigration/bin
PostgresMigration/obj
Modisette.Test/bin
Modisette.Test/obj
TestResults
Modisette.db
Modisette.db-shm
Modisette.db-wal
Modisette.pre-postgres-backup.db
.aspnet
node_modules
README.md