@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "./Shared/_Layout3";
}

<h2>Admin Area</h2>
<div>
    <p>Please log in to access the more content.</p>
        @if (User.Identity.IsAuthenticated)
        {
            <button class="btn btn-primary btn-lg"><a class="nav-link text-light" asp-page="./ContactForm/Display">Admin Page</a></button>
        }
        else
        {
            <button class="btn btn-primary btn-lg"><a class="nav-link text-light" asp-page="./Account/Login">Login Page</a></button>
        }
</div>

@await Html.PartialAsync("_PartialAuthorization")
