@page
@using Modisette.Models
@model AddContentModel

@{ 
    ViewData["Title"] = "AddContent";
}

<section class="py-5">
    <div class="container px-5">
        <!-- Course Content form-->
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Add a Course</h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form enctype="multipart/form-data" id="courseContentForm" form method="post">
                        <!-- Course input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Course.Code" />
                            <label asp-for="Course.Code" class="control-label">Course Code (e.g., MAT 105)</label>
                            <span asp-validation-for="Course.Code" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Course.Year"/>
                            <label asp-for="Course.Year" class="control-label">Year</label>
                            <span asp-validation-for="Course.Year" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <select asp-for="Course.Semester" asp-items="Html.GetEnumSelectList<TimeOfYear>()">
                            </select>
                            <span asp-validation-for="Course.Semester" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Course.Title"/>
                            <label asp-for="Course.Title" class="control-label">Title</label>
                            <span asp-validation-for="Course.Title" class="text-danger"></span>
                        </div>
                        <!-- File input-->
                        <div class="form mb-3">
                            <input class="form-control" asp-for="BufferedFiles.FormFiles" type="file" multiple/>
                            <span asp-validation-for="BufferedFiles.FormFiles" class="text-danger"></span>
                        </div> 
                        <!-- Submit Button--> 
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg text-light" id="submitButton" type="submit" value="Create">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>