@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Modisette.Models
@model modisette.Pages.Admin.ContentForm.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "./Shared/_Layout4";
}

<h1>Edit</h1>
<hr />
<div class="container g-0">
    <div class="row">
        <div class="col-md-4 justify-content-between">
        <h2>Course</h2>
        <hr />
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Course.Code" />
                <input type="hidden" asp-for="Course.Year" />
                <input type="hidden" asp-for="Course.Semester" />
                <div class="form-group mb-4 mt-2">
                    <label asp-for="Course.Title" class="control-label"></label>
                    <input asp-for="Course.Title" class="form-control" />
                    <span asp-validation-for="Course.Title" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <input class="form-control" asp-for="Files.FormFiles" type="file" multiple/>
                    <span asp-validation-for="Files.FormFiles" class="text-danger"></span>
                </div> 
                <div class="form-group mb-2">
                    <input type="submit" value="Save" class="btn btn-primary text-light" />
                </div>
            </form>
        </div>
        <div class="col-md-6 justify-content-between">
        <h2>Files</h2>
        <hr />
            <ul class="pt-2">
                @foreach (var file in Model.Documents)
                    {
                        <form method = "post" asp-page="./Edit" asp-page-handler="DeleteFile" asp-route-fileId="@file.Id" class="mb-3">
                            <li>
                                <a href="~/uploads/@file.Document" class="me-2">@file.Name</a> | 
                                <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
                            </li>
                        </form>
                    }
            </ul>
        </div>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
