@page
@model AboutModel

@{
    ViewData["Title"] = "About";
    Layout = "Shared/_Layout2"; 
}

<!-- Sidebar Navigation-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Vicki Modisette</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" 
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-page="About">About</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#research">Research</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#papers">Papers</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
        </ul>
    </div>
</nav>

<!-- Page Content-->
<div class="container-fluid p-0" id="about-content">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Vicki <span class="text-primary">Modisette</span>
            </h1>
            <p class="lead mb-5">Determined to make a difference in the lives of students.<br />
                Driven by a passion for mathematics and the wonder of statistical analysis.<br />
                Motivated to connect theory and practice, academia and enterprise, data and decisions.</p>
            <p>@Html.Raw(Model.EmbeddedTimelineHtml)</p>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Assistant Professor</h3>
                    <div class="subheading mb-3">Eastern Kentucky University</div>
                    <p>Assistant Professor of Mathematics and Statistics</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2023 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Adjunct Instructor</h3>
                    <div class="subheading mb-3">Campbellsville University, Department of Computer Science</div>
                    <p>Instructor for the MS in Computer Science Program</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">October 2020 - May 2024</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Graduate Teaching Assistant</h3>
                    <div class="subheading mb-3">University of Louisville</div>
                    <p>Instructor for the Department of Mathematics and the School of Music</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2015 - May 2023</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">University of Louisville</h3>
                    <div class="subheading mb-3">PhD</div>
                    <p>Applied and Industrial Mathematics</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2023</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">University of Louisville</h3>
                    <div class="subheading mb-3">Master of Art</div>
                    <p>Mathematics</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2019</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">University of Louisville</h3>
                    <div class="subheading mb-3">Master of Art</div>
                    <p>Harp Performance</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2017</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="research">
        <div class="resume-section-content">
            <h2 class="mb-5">Research</h2>
            <h3 class="mb-0">Programming Languages</h3>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fa-brands fa-r-project"></i></li>
                <li class="list-inline-item"><i class="fa-brands fa-python"></i></li> 
            </ul>
            <h3 class="mb-1">Fields of Research</h3>
            <ul class="fa-ul mb-0">
                    <li>
                    <span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>
                    Data Science
                </li>
                <li>
                    <span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>
                    Network Models
                </li>
                <li>
                    <span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>
                    Probability
                </li>
                <li>
                    <span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>
                    Bayesian Analysis
                </li>
                <li>
                    <span class="fa-li"><i class="fa-regular fa-circle-check"></i></i></span>
                    Bayesian Exponential Random Graph Models (BERGM)
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Papers -->
    <section class="resume-section" id="papers">
        <div class="resume-section-content">
            <h2 class="mb-5">Papers</h2>
            <h3 class="mb-2">Published Works</h3>
            <ul class="fa-ul mb-3">
                <li>
                    <span class="fa-li"><i class="fa-solid fa-file-lines"></i></span>
                    <a href="https://appliednetsci.springeropen.com/articles/10.1007/s41109-024-00619-1">Han, D., Modisette, V., Forthofer, M., Rajib P.. (2024). "Hierarchical Bayesian
adaptive lasso methods on exponential random graph models." <em>Applied Network
Science</em>, 9(1), Article 9.</a>
                </li>
            </ul>
            <h3 class="mb-2">Presentations</h3>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li mb-1"><i class="fa-solid fa-person-chalkboard"></i></span>
                    Modisette, Vicki. "How and Why to Introduce Exponential Random Graph Models to
Students." <em>2024 Annual Meeting of the Kentucky Section of the Mathematical
Association of America</em>, Eastern Kentucky University, April 6, 2024.
                </li>
                <li>
                    <span class="fa-li mb-1"><i class="fa-solid fa-person-chalkboard"></i></span>
                    Brooks, H., Chodrow, P., Gebhart, T., Huynh, L., Modisette, V., Thompson, W.,
Tain, M., Wiedemann, A. "Inferring Interaction Kernels for Stochastic Agent-Based
Opinion Dynamics." <em>Joint Mathematics Meetings</em>, San Fransico, January 4, 2024.
1192-60-30416.
                </li>
                <li>
                    <span class="fa-li mb-1"><i class="fa-solid fa-person-chalkboard"></i></span>
                    Han, D., Modisette, V. "Ridge Penalized Bayesian Exponential Random Graph
Models for Reducing Multicollinearity." <em>Joint Mathematics Meetings</em>, San Fransico, January 3, 2024. 1192-60-30416.
                </li>
                <li>
                    <span class="fa-li mb-1"><i class="fa-solid fa-person-chalkboard"></i></span>
                    Modisette, V. "Penalized Bayesian Inference on the Topological Characteristics of
the Network." <em>Joint Mathematics Meetings</em>, Boston, MA, January 2023.
                </li>
                <li>
                    <span class="fa-li mb-1"><i class="fa-solid fa-person-chalkboard"></i></span>
                    Modisette, Vicki. "How and Why to Introduce Exponential Random Graph Models to
Students." <em>2024 Annual Meeting of the Kentucky Section of the Mathematical
Association of America</em>, Eastern Kentucky University, April 6, 2024.
                </li>
                <li>
                    <span class="fa-li mb-1"><i class="fa-solid fa-person-chalkboard"></i></span>
                    Modisette, Vicki. "The Theory Behind a New Adaptive Bayesian Lasso Exponential
Random Graph Model." <em>Graduate Student Regional Research Conference</em>, Louisville, KY, February 2022.
                </li>
                <li> 
                    <span class="fa-li mb-1"><i class="fa-solid fa-person-chalkboard"></i></span>
                    Modisette, Vicki. "Analyzing the Infection Risk of Healthcare Workers for COVID-19
by a new Adaptive Bayesian Lasso ERGM." <em>Society for Industrial and Applied
Mathematics Annual Meeting</em>, Virtual, July 2021.
                </li>
                <li>
                    <span class="fa-li mb-1"><i class="fa-solid fa-person-chalkboard"></i></span>
                    Modisette, Vicki. Invited address for Kappa Mu Epsilon induction dinner. Jackson, TN, May 2019.
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Awards & Honors</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fa-solid fa-award"></i></span>
                    Graduate Assistantship, University of Louisville
                    <div class="flex-shrink-0"><span class="text-primary">2017 - 2023</span></div>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-award"></i></span>
                    Student Champion, University of Louisville
                    <div class="flex-shrink-0"><span class="text-primary">2021 - 2023</span></div>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-award"></i></span>
                    Delphi Center for Teaching and Learning Faculty Favorite, University of Louisville
                    <div class="flex-shrink-0"><span class="text-primary">2020 - 2021</span></div>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-award"></i></span>
                    Fulbright Semifinalist for United Kingdom Open Award, United States Department of State
                    <div class="flex-shrink-0"><span class="text-primary">2017</span></div>
                </li>
                    <li>
                    <span class="fa-li"><i class="fa-solid fa-award"></i></span>
                    Margaret Muldoon Memorial Scholarship, University of Louisville
                    <div class="flex-shrink-0"><span class="text-primary">2015 - 2017</span></div>
                </li>
            </ul>
        </div>
    </section>
</div>