@page
@model ContentModel
@{
    ViewData["Title"] = "Course Content";
    Layout = "./Shared/_Layout3";

}
<h1>@ViewData["Title"]</h1>

<form method="get" class="mt-4 p-4 border rounded bg-light container">
    <div class="input-group mb-3">
        <label for="year" class="font-weight-bold input-group-text col-auto" style="font-size: 1.2em; width: 150px;">Year</label>
        <select class="form-control form-select col-4" id="year" name="Year" asp-for="Year" asp-items="Model.Years" onchange="this.form.submit()">
            <option value="">Select Year</option>
        </select>
    </div>
    <div class="input-group mb-3">
        <label for="semester" class="font-weight-bold input-group-text col-auto" style="font-size: 1.2em; width: 150px;">Semester</label>
        <select class="form-control form-select col-4" id="semester" name="Semester" asp-for="Semester" asp-items="Model.Semesters" onchange="this.form.submit()">
            <option value="">Select Semester</option>
        </select>
    </div>
    <div class="input-group">
        <label for="courseCode" class="font-weight-bold input-group-text col-auto" style="font-size: 1.2em; width: 150px;">Course Code</label>
        <select class="form-control form-select col-4" id="courseCode" name="CourseCode" asp-for="CourseCode" asp-items="Model.CourseCodes" onchange="this.form.submit()">
            <option value="">Select Course Code</option>
        </select>
    </div>
</form>

@if (Model.CourseDocuments != null && Model.CourseDocuments.Any())
{
    <div class="mt-4">
        <table id="courseDocuments" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="col-8">Document Name</th>
                    <th class="col-4">Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var document in Model.CourseDocuments)
                {
                    <tr>
                        <td>@document.Name</td>
                        <td><a href="~/uploads/@document.Document" class="btn btn-primary text-light no-wrap" target="_blank">View Document</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
     <div class="alert alert-warning" role="alert">
        No documents available for the selected course.
    </div>
}
