@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid position-relative">
    <span class="position-absolute top-50 start-50 translate-middle">
        <h1 class="display-1 text-center" id="HomeTag">vicki modisette</h1>
        <h3 class="text-center" id="HomeHelperText">Professor. Researcher. Speaker.</h3>
    </span>
    <img src="george-hiles-unsplash.jpeg" alt="castle" class="img-fluid" id="HomeImg">
</div>
