@page
@model modisette.Pages.ContactForm.EditModel

@{
    ViewData["Title"] = "Edit";
}

@if (User.Identity.IsAuthenticated)
{

<h1>Edit</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Contact.Id" />
            <div class="form-group">
                <label asp-for="Contact.FirstName" class="control-label"></label>
                <input asp-for="Contact.FirstName" class="form-control" />
                <span asp-validation-for="Contact.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.LastName" class="control-label"></label>
                <input asp-for="Contact.LastName" class="form-control" />
                <span asp-validation-for="Contact.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Email" class="control-label"></label>
                <input asp-for="Contact.Email" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.PhoneNumber" class="control-label"></label>
                <input asp-for="Contact.PhoneNumber" class="form-control" />
                <span asp-validation-for="Contact.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Message" class="control-label"></label>
                <input asp-for="Contact.Message" class="form-control" />
                <span asp-validation-for="Contact.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.TimeSubmitted" class="control-label"></label>
                <input asp-for="Contact.TimeSubmitted" class="form-control" />
                <span asp-validation-for="Contact.TimeSubmitted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Notes" class="control-label"></label>
                <input asp-for="Contact.Notes" class="form-control" />
                <span asp-validation-for="Contact.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Display">Back to List</a>
</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
